@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    overflow-x: hidden;
}

.navbar {
    background-color: #343a40;
    padding: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

hr {
    border: none;
    border-top: 1px solid #dee2e6;
    margin: 1rem 0;
}

.table-container {
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, box-shadow 0.5s;
}

.table-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
    width: 33.33%;
}

th {
    background-color: #5995fd;
    color: #fff;
}

td {
    background-color: #f9f9f9;
    color: #333;
}

td:last-child {
    border-bottom: 1px solid #dee2e6;
}

.nom {
    background-color: #007bff;
}